body{
  background-color: ;
  color: ;
  text-align: ;
  font-family: "", ;
}
.hs{
  color: ;
}
.intro{
  font-size: ;
}
.wrapper{
        text-align: ; 
}
.wrapper ul{
        display: ;
        margin: ;
        padding: ;
}
